My workflow Deniz
{"createdAt":"2025-08-07T09:11:12.941Z","updatedAt":"2025-08-21T10:12:27.806Z","id":"5lWepw3TQnSbLaNw","name":"My workflow Deniz","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"http://localhost:5678/api/v1/workflows?tags=backup","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4NGU4ZjJlMS1lNzlkLTQ4ZmUtYmVmNC03NDQ4MDQxNGIyYzgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU0NTU3OTAyfQ.tWrd03JZmHAfu41rMdwVpoXNyYMXZBCtCpTs09_6wIs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,300],"id":"9aa46497-53e5-4737-835d-b375066ce047","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[440,300],"id":"9804ee69-1d26-46ae-8818-f69290167a59","name":"Split Out"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2200,-100],"id":"f1e35955-a36d-4554-ac08-5d633ea18976","name":"Convert to File"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"aysedenizcoten","mode":"name"},"repository":{"__rl":true,"value":"deniz","mode":"list","cachedResultName":"deniz","cachedResultUrl":"https://github.com/aysedenizcoten/deniz"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=BACKUP OF {{ $binary.data.fileName }}"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[2420,75],"id":"2fe7082c-4506-4334-b6df-080dfc2d2cb0","name":"Edit a file","webhookId":"627327f3-1ff9-402a-8f42-c89d8a3cc20d","credentials":{"githubApi":{"id":"hhcMDOt3GaGtt6AL","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,300],"id":"daa44ba6-d505-42a3-8be7-a162f1ed91e2","name":"Schedule Trigger"},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"aysedenizcoten","mode":"name"},"repository":{"__rl":true,"value":"deniz","mode":"list","cachedResultName":"deniz","cachedResultUrl":"https://github.com/aysedenizcoten/deniz"},"filePath":"={{ $json.name }}","additionalParameters":{"reference":""}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1100,0],"id":"c49b7290-16aa-43a4-b4e6-7edbece4502e","name":"Get a file","webhookId":"f038b3d3-679f-4134-863f-ba8d80672de8","alwaysOutputData":false,"credentials":{"githubApi":{"id":"hhcMDOt3GaGtt6AL","name":"GitHub account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"056b5035-a889-4d80-b978-b3fcd7d7b2e2","leftValue":"={{ $json.updatedAt }}","rightValue":"={{ $('Extract from File').item.json.data.updatedAt }}","operator":{"type":"dateTime","operation":"after"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1980,-100],"id":"13959e9e-8d65-4ebb-a512-f6bee83b7bf3","name":"If"},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"aysedenizcoten","mode":"name"},"repository":{"__rl":true,"value":"deniz","mode":"list","cachedResultName":"deniz","cachedResultUrl":"https://github.com/aysedenizcoten/deniz"},"filePath":"lastbackup.json","fileContent":"= \"lastBackup\": \"{{$now}}\"","commitMessage":"update last backup"},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[0,820],"id":"839ec0a0-f868-4527-a6fc-a6f86239013e","name":"Edit a file1","webhookId":"40eaae23-f8f2-4586-a96a-643020939eff","credentials":{"githubApi":{"id":"hhcMDOt3GaGtt6AL","name":"GitHub account"}}},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[660,300],"id":"b9dd8fd2-ad6e-4307-883e-e3f4a3911961","name":"Get a workflow","credentials":{"n8nApi":{"id":"3f7MoJgZOAGntB1Z","name":"n8n account 2"}}},{"parameters":{"operation":"fromJson","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1540,-100],"id":"0b8cb9f2-e218-4be4-8406-5c4333d045a2","name":"Extract from File"},{"parameters":{"assignments":{"assignments":[{"id":"55a31bb0-0dcc-4b39-be8c-4129b8a5f612","name":"name","value":"={{ $('Split Out').item.json.name }}{{ $('Split Out').item.json.id }}{{ $('Split Out').item.json.updatedAt }} ","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,560],"id":"2b0f5873-3b63-4720-b1cf-df25cde021ad","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[880,300],"id":"9b3b4832-9e1d-475e-a697-6d6e3d4e1551","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b5b3d299-c430-4183-a291-d1defc8b2840","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1320,0],"id":"66322901-2a8d-4f24-a7a0-18c193b8ae00","name":"If1"},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"aysedenizcoten","mode":"name"},"repository":{"__rl":true,"value":"deniz","mode":"list","cachedResultName":"deniz","cachedResultUrl":"https://github.com/aysedenizcoten/deniz"},"filePath":"={{ $('Loop Over Items').item.json.name }}","binaryData":true,"commitMessage":"created new workflow "},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[1760,100],"id":"212364a0-ec35-4709-8b40-04f6b4a42bbb","name":"Create a file","webhookId":"221db816-fb3b-48e5-9aa2-ceaf5ba791f6","credentials":{"githubApi":{"id":"hhcMDOt3GaGtt6AL","name":"GitHub account"}}},{"parameters":{"operation":"toJson","options":{"fileName":"={{ $('Loop Over Items').item.json.name }}"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1540,100],"id":"bfb17159-347e-439f-86bf-2e288ebd0d5f","name":"Convert to File1"},{"parameters":{"url":"=http://localhost:5678/api/v1/workflows/{{ $json.data.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4NGU4ZjJlMS1lNzlkLTQ4ZmUtYmVmNC03NDQ4MDQxNGIyYzgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU0NTU3OTAyfQ.tWrd03JZmHAfu41rMdwVpoXNyYMXZBCtCpTs09_6wIs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,-100],"id":"c3754bbc-206e-4600-a520-71cc8847e587","name":"GetWorkflowById"}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Get a workflow","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Edit a file","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If1","type":"main","index":0}]]},"If":{"main":[[{"node":"Convert to File","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get a workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"GetWorkflowById","type":"main","index":0}]]},"Edit Fields":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"If1":{"main":[[{"node":"Extract from File","type":"main","index":0}],[{"node":"Convert to File1","type":"main","index":0}]]},"Convert to File1":{"main":[[{"node":"Create a file","type":"main","index":0}]]},"Create a file":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"GetWorkflowById":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4759a939-8f24-486d-a823-016390353d15","triggerCount":0,"shared":[{"createdAt":"2025-08-07T09:11:12.941Z","updatedAt":"2025-08-07T09:11:12.941Z","role":"workflow:owner","workflowId":"5lWepw3TQnSbLaNw","projectId":"OZ2O8Lq7weiSHJF6","project":{"createdAt":"2025-08-06T18:18:36.150Z","updatedAt":"2025-08-06T18:33:31.911Z","id":"OZ2O8Lq7weiSHJF6","name":"Burak Bingol <burak.bingol@adesso.com.tr>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-08-06T18:18:36.150Z","updatedAt":"2025-08-06T18:18:36.150Z","role":"project:personalOwner","userId":"84e8f2e1-e79d-48fe-bef4-74480414b2c8","projectId":"OZ2O8Lq7weiSHJF6","user":{"createdAt":"2025-08-06T18:17:53.114Z","updatedAt":"2025-08-19T10:50:27.750Z","id":"84e8f2e1-e79d-48fe-bef4-74480414b2c8","email":"burak.bingol@adesso.com.tr","firstName":"Burak","lastName":"Bingol","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-08-06T18:33:38.268Z","personalization_survey_n8n_version":"1.99.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"s5XLnZnqv8fLnDVP","userActivatedAt":1754509855585,"npsSurvey":{"responded":true,"lastShownAt":1755600620126}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-08-08T13:36:09.568Z","updatedAt":"2025-08-08T13:36:09.568Z","id":"8jhedx3xaHxTiyDM","name":"backup"}]}