README.md
{"createdAt":"2025-08-07T09:11:14.849Z","updatedAt":"2025-08-21T06:50:08.972Z","id":"jfbkL2daJDGqBuEj","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"http://test-n8n.20.51.210.237.nip.io/api/v1/workflows","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4NGU4ZjJlMS1lNzlkLTQ4ZmUtYmVmNC03NDQ4MDQxNGIyYzgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU0NTU3OTAyfQ.tWrd03JZmHAfu41rMdwVpoXNyYMXZBCtCpTs09_6wIs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[220,0],"id":"2366ebdb-6e1b-4c6b-8ec0-a073c34ca4e9","name":"HTTP Request"},{"parameters":{"url":"=http://test-n8n.20.51.210.237.nip.io/api/v1/workflows/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-N8N-API-KEY","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI4NGU4ZjJlMS1lNzlkLTQ4ZmUtYmVmNC03NDQ4MDQxNGIyYzgiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzU0NTU3OTAyfQ.tWrd03JZmHAfu41rMdwVpoXNyYMXZBCtCpTs09_6wIs"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,0],"id":"cd7768cf-b494-42f2-973b-4517df2ff1fd","name":"HTTP Request2"},{"parameters":{"operation":"toJson","mode":"each","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[880,0],"id":"b3e4ca6a-7beb-43e8-ae82-8639ec7ab33a","name":"Convert to File"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":3}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[0,0],"id":"fe365c29-bab8-461c-9a4c-af93b7a0c830","name":"Schedule Trigger"},{"parameters":{"resource":"blob","operation":"create","container":{"__rl":true,"value":"test-n8n-workflows","mode":"list","cachedResultName":"test-n8n-workflows"},"blobCreate":"denizblob","options":{},"requestOptions":{}},"type":"n8n-nodes-base.azureStorage","typeVersion":1,"position":[1100,0],"id":"b8c9a00c-9f01-454f-abb6-ff6a38e5d975","name":"Create blob","credentials":{"azureStorageSharedKeyApi":{"id":"fPJWCbKsIb4Fc66S","name":"Azure Storage Shared Key account"}}},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[440,0],"id":"22cf8598-cff4-481a-ba2d-245cc2250808","name":"Split Out"}],"connections":{"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Create blob","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e49be71-741b-4f25-b01a-27734fccb433","triggerCount":1,"shared":[{"createdAt":"2025-08-07T09:11:14.849Z","updatedAt":"2025-08-07T09:11:14.849Z","role":"workflow:owner","workflowId":"jfbkL2daJDGqBuEj","projectId":"OZ2O8Lq7weiSHJF6","project":{"createdAt":"2025-08-06T18:18:36.150Z","updatedAt":"2025-08-06T18:33:31.911Z","id":"OZ2O8Lq7weiSHJF6","name":"Burak Bingol <burak.bingol@adesso.com.tr>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-08-06T18:18:36.150Z","updatedAt":"2025-08-06T18:18:36.150Z","role":"project:personalOwner","userId":"84e8f2e1-e79d-48fe-bef4-74480414b2c8","projectId":"OZ2O8Lq7weiSHJF6","user":{"createdAt":"2025-08-06T18:17:53.114Z","updatedAt":"2025-08-19T10:50:27.750Z","id":"84e8f2e1-e79d-48fe-bef4-74480414b2c8","email":"burak.bingol@adesso.com.tr","firstName":"Burak","lastName":"Bingol","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-08-06T18:33:38.268Z","personalization_survey_n8n_version":"1.99.1"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"s5XLnZnqv8fLnDVP","userActivatedAt":1754509855585,"npsSurvey":{"responded":true,"lastShownAt":1755600620126}},"role":"global:owner","disabled":false,"mfaEnabled":false,"isPending":false}}]}}],"tags":[{"createdAt":"2025-08-08T13:36:09.568Z","updatedAt":"2025-08-08T13:36:09.568Z","id":"8jhedx3xaHxTiyDM","name":"backup"}]}